/project/project/
/project/target/
/target/
/src/main/assets/lojen/
/src/main/assets/enloj/
/src/main/assets/lojja/
/src/main/assets/jaloj/
/src/main/assets/lojlojban/
/src/main/assets/lojbanloj/
/src/main/assets/gismu/
/src/main/assets/cmavo/
/src/main/assets/rafsi/
/src/main/assets/lojsv/
/src/main/assets/svloj/
/src/main/assets/lojde/
/src/main/assets/deloj/
/src/main/assets/lojfr/
/src/main/assets/frloj/
/src/main/assets/lojru/
/src/main/assets/ruloj/
/src/main/assets/completion/
/images/
/backups/
