/project/project/
/project/target/
/target/
/src/main/assets/lojen/
/src/main/assets/enloj/
/src/main/assets/lojja/
/src/main/assets/jaloj/
/src/main/assets/lojlojban/
/src/main/assets/lojbanloj/
/src/main/assets/gismu/
/src/main/assets/cmavo/
/src/main/assets/rafsi/
/src/main/assets/lojsv/
/src/main/assets/svloj/
/images/
/backups/
